
* {
  box-sizing: border-box;
}






h2{
	color: white;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 10px;
}

.home-movies{

	margin-top: 20px;
	background: rgb(88,88,88,0.5);
	padding-top: 50px;
	padding-bottom: 30px;

	

}

div.row > div{
	margin-left: auto;
	margin-right: auto;
}

img{
	margin-right: auto;
	margin-left: auto;
	border: 2px solid white;
	border-radius: 5px;
}

div.moviedesc p{
	text-align: center;	
	color: white;
	font-weight: bold;



}

div.moviedesc p a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.rating{
	margin-top: 0px;
}

figure img:hover{
	opacity: 0.8;
}

.seemore{
	margin-top: 20px;
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

a.seemore:hover{
	text-decoration: none;
	color: white;
}

select{
	background-color: black;
	color: white;
	border-radius: 5px;
}



.button{
	width: 50px;
	height: 50px;
  
  position: fixed;
	
	
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.button:hover{

}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
	
    width: 10px;
    height: 10px;
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    
    
    width: 10px;
    height: 10px;
    background: dimgrey;
    
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
   
    transform: rotate(45deg);
    transform-origin :100% 100%;
}










a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.r {
	border-radius: 5px;
	background: rgb(88,88,88,0.5);	
  overflow: scroll;
  width: 100%;
}
.r__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 40px 0;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 170px;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 170px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.r__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.r__inner:hover .tile {
  opacity: 0.5;

}
.r__inner:hover .tile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.r::-webkit-scrollbar {
  display: none;
}