h2{
	color: white;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 30px;
}

.home-movies{

	margin-top: 50px;
	background: rgb(88,88,88,0.5);
	padding-top: 50px;
	padding-bottom: 30px;

	

}

div.row > div{
	margin-left: auto;
	margin-right: auto;
}

img{
	margin-right: auto;
	margin-left: auto;
	border: 2px solid white;
	border-radius: 5px;
}

div.moviedesc p{
	text-align: center;	
	color: white;
	font-weight: bold;



}

div.moviedesc p a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.rating{
	margin-top: 0px;
}

figure img:hover{
	opacity: 0.8;
}

.seemore{
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

a.seemore:hover{
	text-decoration: none;
	color: white;
}

select{
	background-color: black;
	color: white;
	border-radius: 5px;
}



.button{
	width: 50px;
	height: 50px;
  
  position: fixed;
	
	
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.button:hover{

}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
	
    width: 10px;
    height: 10px;
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    
    
    width: 10px;
    height: 10px;
    background: dimgrey;
    
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
   
    transform: rotate(45deg);
    transform-origin :100% 100%;
}