

body { 
  background: url(../images/hollywood_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;

}

a.signhere:visited{
	color: #EE82EE;	
}

h1{
	text-align: center;
	font-size: 5em;
	color: white;
	font-weight: bold;
	font-family: 
	font-family: 'Rubik Mono One', sans-serif;
	margin: 0px;
	margin-bottom: 5px;
}

#heading{
	padding: 10px;
	background-color: black;
	margin-top: 0;
	text-align: center;
	color: white;
	border-bottom: 0.5px solid gray;

}

.heading{
	margin-left: 20px;
	font-size: 25px;

}

.jumbotron{
	margin-top: 0px;
	background: url(../images/jumbotron1.jpg);
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-bottom: 0px;
}

#bradquote {

	margin-top: 30px;
	
	margin-right: 20px;
  background-image: url(https://cache.desktopnexus.com/thumbseg/1944/1944225-bigthumbnail.jpg), url(https://coolbackgrounds.io/images/backgrounds/black/black-contour-f41038db.svg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}

#batman{
	margin-left: 10%;
	margin-top: 5%;
	font-weight: bold;
	font-size: 60px;
	color: white;
}

@media (max-width: 631px){
#batman{
	margin-left: 10%;
	margin-top: 5%;
	font-weight: bold;
	font-size: 30px;
	color: white;
}


}

#batdesc{
	color: white;
	font-size: 20px;
	margin-left: 10%
}

h2{
	padding: 10px;
	margin-top: 50px;
	text-align: center;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	font-family: 'Lobster', cursive;
}

.pushspace{
	height: 500px;
}

.pushspace1{
	height: 400px;
	margin-right: 10px;
}

@media (min-width: 768px) and (max-width: 991px){
	.pushspace{
		height: 300px;
	}
}

@media (max-width: 768px){
	.pushspace{
		height: 200px;
	}
}

#jumb-desc{
	padding: 10px;
	font-size: 20px;
	margin-top: 0px;
	background-color: black;
	color: white;
	margin-bottom: 30px;
}

.article{
	background-color: black;
	color: white;
	padding: 10px;

}

ul{
	list-style-type: square;
}

article dl{
	font-size: 18px;
}

article dd{
	margin-left: 35px;
}

/* nav styles */

#headingnav{
	background-color: black;
	border: none;
	border-radius: 0;

}



a.navbar-brand span{
	color: white;
	font-weight: bold;

}

a.navbar-brand span{
	color: white;
	font-weight: bold;

}

#myNavbar span{
	color: white;
}

/*nav style ends */


footer{
	background-color: black;
	margin-top: 50px;
}



footer div p{
	
	text-align: center;
	color: white;

}

#footername{
	margin-top: 15px;
}

.text {
	
	background: linear-gradient(to right, #f90606 0%, #ff00bf 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.home-movies{
	margin-top: 50px;
	background: rgb(88,88,88,0.5);
	padding-top: 50px;

	

}

div.row > div{
	margin-left: auto;
	margin-right: auto;
}

img{
	margin-right: auto;
	margin-left: auto;
	border: 2px solid white;
	border-radius: 5px;
}

div.moviedesc p{
	text-align: center;	
	color: white;
	font-weight: bold;



}

div.moviedesc p a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.rating{
	margin-top: 0px;
}

figure img:hover{
	opacity: 0.8;
}


#reviewblur{
	padding-top: 10px;
	padding-bottom: 20px;
}
		.reviewbox{
			border-radius: 5px;
			padding: 30px;
			margin: 20px;

			margin-bottom: 15px;
			background-color: black;
			color: white;
			margin-bottom: 25px;

		}
		.revmov{
			font-size: 15px;
			margin-left: 20px;
			font-weight: bold;
		}

		.revauthor{
			font-size: 10px;
			margin-left: 20px;

		}
		.revcontent{
			font-size: 15px;

		}

		











